spring:
  cache:
    type: caffeine
    caffeine:
      spec: expireAfterAccess=30m

  threads:
    virtual:
      enabled: true

logging:
  file:
    path: "/logs"
    name: "/logs/janitorr.log"
  logback:
    rollingpolicy:
      max-history: 14
      max-file-size: 100MB
      clean-history-on-start: true
  threshold:
    file: NONE

management:
  server:
    port: 8081
  endpoints:
    web:
      base-path: "/"
  endpoint:
    health:
      probes:
        enabled: true

clients:
  sonarr:
    enabled: true
    url: "http://sonarr:8989"
    api-key: "sonarr-key"
    delete-empty-shows: true
  radarr:
    enabled: true
    url: "http://radarr:7878"
    api-key: "radarr-key"
  bazarr:
    enabled: false
    url: "http://bazarr:6767"
    api-key: "bazarr-key"
  jellyfin:
    enabled: true
    url: "http://jellyfin:8096"
    api-key: "jellyfin-key"
    username: "janitorr"
    password: "janitorr"
  emby:
    enabled: false
    url: "http://emby:8096"
    api-key: "emby-key"
    username: "janitorr"
    password: "janitorr"
  jellyseerr:
    enabled: true
    url: "http://jellyseerr:5055"
    api-key: "jellyseerr-key"
  jellystat:
    enabled: true
    url: "http://jellystat:3000"
    api-key: "jellystat-key"